<div ng-controller="reportListController" ng-init="init()">


    <nav class="navbar navbar-default ">
        <div class=" container ">
            <div class="navbar-header nav-title ">
                <a class="navbar-brand" href="#home">VRT Tool</a>
            </div>
            <div class="main-nav">
                <ul>
                    <li><a href="#report"><i class="fa fa-shield"></i>Crear Reporte</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <div id="reports" class="col-lg-12 w-100">
        <div ng-if="!reports || reports.length == 0">
            <h4>No tiene reportes registrados</h4>
        </div>
        <div ng-repeat="report in reports">
            <div class="col-lg-12">
                <div class="panel-body item-list-report">
                    <div class="row">
                        <div class="col-lg-3">
                            <span class="date" am-time-ago="report.create_at"></span><br>
                            <h5>{{report.date}}</h5>
                        </div>
                        <div class="col-lg-3">
                            <img class="img-st" src="{{url + 'get-image/' + report.image1}}">
                        </div>
                        <div class="col-lg-3">
                            <img class="img-st" src="{{url + 'get-image/' + report.image2}}">
                        </div>
                        <div class="col-lg-3">
                            <img class="img-st" src="{{url + 'get-image/' + report.imageDiff}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>